<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Music</display-name>
  <welcome-file-list>

    <welcome-file>pages/home/index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/MyDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>AddPhotoServlet</display-name>
    <servlet-name>AddPhotoServlet</servlet-name>
    <servlet-class>music.AddPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhotoServlet</servlet-name>
    <url-pattern>/AddMusic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>playMusic</display-name>
    <servlet-name>playMusic</servlet-name>
    <servlet-class>music.playMusic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>playMusic</servlet-name>
    <url-pattern>/playMusic.mp3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menulist</display-name>
    <servlet-name>menulist</servlet-name>
    <servlet-class>list.menulist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menulist</servlet-name>
    <url-pattern>/menulist.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>setting.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changepassword</display-name>
    <servlet-name>changepassword</servlet-name>
    <servlet-class>setting.changepassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepassword</servlet-name>
    <url-pattern>/changepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>auth</display-name>
    <servlet-name>auth</servlet-name>
    <servlet-class>auth.auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auth</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>auth.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <listener>
    <description>Context listener</description>
    <listener-class>listener.ApplicationListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>getQuestion</display-name>
    <servlet-name>getQuestion</servlet-name>
    <servlet-class>setting.getQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getQuestion</servlet-name>
    <url-pattern>/getQuestion</url-pattern>
  </servlet-mapping>
</web-app>